body {
  padding-top: 30px;
}
.car {
  padding-bottom: 20px;
}
.car-price {
  font-size: 26px;
  color: red;
  font-weight: bold;
}
.img__container {
  height: 250px;
  margin-bottom: 20px;
}
.img__container img {
  height: 100%;
}
